@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Borel&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DynaPuff:wght@400..700&family=Playwrite+AU+NSW:wght@100..400&family=Quicksand:wght@300..700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
}



