@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Borel&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DynaPuff:wght@400..700&family=Playwrite+AU+NSW:wght@100..400&family=Quicksand:wght@300..700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
}



.relative {
  position: relative;
}

.w-0.5 {
  width: 2px; /* Adjust width as needed */
}

.h-16 {
  height: 4rem; /* Height for the connecting line */
}

.bg-gray-300 {
  background-color: #d1d5db; /* Light gray color for the line */
}

.transform {
  transform: translateX(-50%);
}

.mb-6 {
  margin-bottom: 1.5rem; /* Adjust margin between steps */
}
